.container {
  @apply bg-2 mt-1 w-full z-10 rounded-md py-2 px-5 shadow-defaultShadow select-none;
}

.header {
  @apply flex justify-between text-sm text-secondText;
}
.headerWrap {
  @apply flex justify-between text-sm text-secondText;
}

.headerClose {
  @apply underline hover:cursor-pointer mx-2;
}
.headerFavFiles {
  @apply underline hover:cursor-pointer mx-2;
}

.panelCollapse {
  max-height: 500px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.panelClose {
  max-height: 0;
}
