.container {
  @apply w-5/12  mx-1 items-center flex text-sm cursor-pointer overflow-hidden;

}

.marquee{
  animation: marqueeString 10s ease-in-out infinite;
  animation-delay: 1s;
}

@keyframes marqueeString {
  0%{
    transform: translateX(0%);
  }
  49.9%{
    transform: translateX(-100%);
  }
  50%{

    transform: translateX(100%);
  }
  100%{
    
    transform: translateX(0%);
  }
}
