.modalContainer {
  @apply flex justify-center items-center h-screen;
}

.modalBackground {
  @apply fixed top-0 left-0 w-full h-full  flex justify-center items-center;
  z-index: 60;
  background-color: rgba(0, 0, 0, 0.6);
}

.fadeIn {
  animation: modalAnimate 0.5s;
}

.modalContent {
  @apply shadow-defaultShadow rounded-lg p-4 overflow-auto bg-3 flex justify-center items-center relative;
  height: 80%;
  width: 80%;
}

.close {
  @apply absolute top-24 right-28 cursor-pointer text-secondText hover:text-purpleButton transition-colors;
}

@keyframes modalAnimate {
  0% {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
