.container {
  @apply fixed h-0 w-0;
}

.wrap {
  @apply   bg-5 p-2  rounded-md  w-44 transition-all
    flex-row items-center  shadow-defaultShadow  border-simplePurple border-2;
}

.fadeIn {
  animation: fadeAnimation 0.3s;
}

.fadeOut {
  animation: fadeAnimation 0.3s reverse;
}

@keyframes fadeAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
