.container {
  @apply flex justify-center items-center relative;
}

.btn {
  @apply shadow-defaultShadow bg-1 flex justify-center items-center p-2 rounded-full h-14 w-14 border-2 border-purpleButton cursor-pointer  z-50;
}

.btnAnimate {
  z-index: 1 !important;
}

.btnAnimate::after {
  display: block;
  content: "";
  opacity: 0.5;
  z-index: 5 !important;
  top: -0.25rem;
  left: -0.25rem;
  z-index: -2 !important;
  animation: 2s pulse infinite;
  @apply rounded-full h-16 w-16 absolute bg-purpleButtonInactive;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

.wrap {
  clip-path: polygon(0% 80%, 50% 0%, 50% 0%, 100% 80%);
  transition: all 1s;
  @apply bg-purpleButton flex justify-between items-center h-3/5 w-3/5 rotate-90;
}

.active {
  @apply bg-1 rotate-0;
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
}

.span {
  @apply bg-purpleButton h-full w-2 rounded-xl;
}
